#avengers{
    height: 400px;
    width: 700px;
}
body{
    text-align: center;
}
.heros{
    height: 250px;
    width: 250px;
    padding-right: 5px;
    padding-top: 5px;
}
.hiros{
    height: 400px;
    width: 600px;
}
.container {
    text-align: center; }
#myCarousel {
    background-color: red; }
#myCarousel img { 
    height: 300px; margin-top: 35px; }
.carousel-inner p { 
    margin-bottom: 15px; margin-top: 15px; color : white; font-size: 20px; }